<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
  ~{::title},
  ~{:: #static-resources},
  ~{:: #header},
  ~{:: #main-content},  
  ~{:: #footer}
  )}">

<head>
  <title>Register</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link id="static-resources" rel="stylesheet" type="text/css" th:href="@{/register.css}" />
</head>

<body>
  <div id="header" th:replace="fragments/header :: header" />
  <div id="main-content" class="login_root">
    <h2>Register</h2>
    <form th:action="@{/register}" th:method="post" th:object="${user}">
      <div class="form-field">
        <input type="name" id="name" name="name" th:field="*{name}" placeholder="name">
      </div>
      <div class="form-field">
        <input type="text" id="username" name="username" th:field="*{username}" placeholder="username">
      </div>
      <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></span>
      <div class="form-field">
        <input type="password" id="password" name="password" th:field="*{password}" placeholder="password">
      </div>
      <div class="submit-button">
        <button type="submit">Register</button>
      </div>
    </form>
    <p>
      <span>Already have an account? <a th:href="@{/login}">Login</a> </span>
    </p>
  </div>
  <div id="footer" th:replace="fragments/footer :: footer" />
</body>

</html>