<div th:fragment="quote-form(quote)">
  <form action="#" th:action="@{/admin/quote/save}" th:object="${quote}" method="post">
    <div>
      <input type="hidden" id="id" name="id" th:field="*{id}" />
    </div>
    <div>
      <label for="content">Content</label>
      <input type="text" id="content" name="content" th:field="*{content}" />
      <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>
    <div>
      <label for="author">Author</label>
      <select name="author" id="author" th:field="*{author}">
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">
        </option>
      </select>
    </div>
    <div>
      <input type="submit" value="Save" />
    </div>
  </form>
</div>