<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
  ~{::title},
  ~{:: #author-static-resources},
  ~{:: #author-header},
  ~{:: #author-main-content},  
  ~{:: #author-footer}
  )}">

<head>
  <title>Authors</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link id="author-static-resources" rel="stylesheet" type="text/css" th:href="@{/author.css}"
    href="../../static/author.css" />
</head>

<body>
  <div id="author-header" th:replace="fragments/header :: header" />
  <div id="author-main-content">
    <h2>List of Authors</h2>
    <section class="authors-by-letter">
      <div th:each="letter, iter : ${letters}">
        <h3 th:text="${#strings.capitalize(letter)}">First Letter of Author Name</h3>
        <hr />
        <div th:replace="author/first-author-list :: first-author-list(${authorsByFirstLetterName[iter.index]})" />
      </div>
    </section>
  </div>
  <div id="author-footer" th:replace="fragments/footer :: footer" />
</body>

</html>