<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
  ~{::title},
  ~{:: #static-resources},
  ~{:: #header},
  ~{:: #main-content},  
  ~{:: #footer}
  )}">

<head>
  <title>Profile | Authors</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link id="static-resources" rel="stylesheet" type="text/css" th:href="@{/profile.css}" />
</head>

<body>
  <div id="header" th:replace="fragments/header :: header" />
  <div id="main-content" class="root_profile-author">
    <h4>[[${user.name.toUpperCase()}]]'s favorite authors</h4>
    <div th:each="author : ${authorsPage}" class="favorite-author">
      <p th:text="${author.name} + ' (' + ${author.dob} + ' - ' + ${author.dod} + ')'"></p>
      <p th:text="${author.biography}"></p>
    </div>

    <div class="pagination" th:if="${authorsPage.totalPages > 1}">
      <a th:href="@{/profile/author?page={page}(page=${authorsPage.number - 1})}"
        th:class="${authorsPage.number == 0} ? a-disabled">&laquo; previous</a>
      <div th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/profile/author?page={page}(page=${pageNumber - 1})}" th:text="${pageNumber}"
          th:class="${pageNumber==authorsPage.number + 1} ? active"></a>
      </div>
      <a th:href="@{/profile/author?page={page}(page=${authorsPage.number + 1})}"
        th:class="${authorsPage.number == authorsPage.totalPages - 1} ? a-disabled">next &raquo;</a>
    </div>
  </div>
  <div id="footer" th:replace="fragments/footer :: footer" />
</body>