<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
  ~{::title},
  ~{:: #static-resources},
  ~{:: #header},
  ~{:: #main-content},  
  ~{:: #footer}
  )}">

<head>
  <title>Profile</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link id="static-resources" rel="stylesheet" type="text/css" th:href="@{/profile.css}" />
</head>

<body>
  <div id="header" th:replace="fragments/header :: header" />
  <div id="main-content" class="root_profile">
    <section class="information">
      <h2 th:text="${user.name}"></h2>
      <div th:if="${userDetails}" class="user-details">
        <p th:text="${userDetails.favoriteQuote}" class="user-details-sayings quote"></p>
        <p class="user-details-about-me"><strong>About me: </strong> <span th:text="${userDetails.aboutMe}"></span></p>
      </div>
    </section>
    <section class="favorite-quotes">
      <p>[[${user.name.toUpperCase()}]]'s favorite quotes</p>
    </section>
    <section class="favorite-authors">
      <p>[[${user.name.toUpperCase()}]]'s favorite authors</p>
    </section>
  </div>
  <div id="footer" th:replace="fragments/footer :: footer" />
</body>

</html>