.page-container {
  max-width: 1320px;
  margin: auto;
}

.body {
  min-height: 92vh;
}

.header > ul {
  display: flex;
}

.header > ul li {
  list-style: none;
  margin-right: 1rem;
}

/* Nav bar */
a {
  text-decoration: none;
}

.nav-active {
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Block quotes */
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}
