/* General */
.page-container {
  max-width: 1320px;
  margin: auto;
}

.body {
  min-height: 90vh;
}

ul li {
  list-style: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(223, 217, 217);
  margin-bottom: 10px;
}

/* Nav bar */
.navbar > ul {
  display: flex;
}

.navbar > ul li {
  list-style: none;
  margin-right: 1rem;
}

a,
a:visited {
  text-decoration: none;
  color: #4b8e5a;
}

a:hover {
  color: #4b8e5a;
  text-decoration: underline;
}

.nav-active {
  font-weight: bold;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid rgb(223, 217, 217);
}

/* Why not updated? */

/* Block quotes */
blockquote {
  margin: 0;
  display: flex;
}

blockquote section {
  margin-top: 16px;
  margin-right: 10px;
}

blockquote section button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

blockquote section button:hover {
  background-color: rgb(223, 217, 217);
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

.quote-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.pagination a {
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #63b175;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.a-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black !important;
}
