<div class="header" th:fragment="header">
  <nav class="navbar">
    <ul>
      <li th:classappend="${#request.requestURI == '/' ? 'nav-active':''}"><a href="/" th:ref="@{/}">Home</a></li>
      <li th:classappend="${#request.requestURI.startsWith('/author') ? 'nav-active' : ''}"><a href="/author"
          th:href="@{/author}">Authors</a></li>
      <li th:classappend="${#request.requestURI.startsWith('/tag') ? 'nav-active' : ''}"><a href="/tag"
          th:href="@{/tag}">Tags</a>
      </li>
    </ul>
  </nav>
  <div class="search-box">
    <form action="#" th:action="@{/search}" th:method="post">
      <input type="text" name="query" placeholder="Search quote..." />
      <button type="submit"><span class="material-symbols-outlined">
          search
        </span></button>
    </form>
  </div>
</div>