<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <nav class="header" th:fragment="header">
    <ul>
      <li th:classappend="${#request.requestURI == '/' ? 'nav-active':''}"><a href="/" th:ref="@{/}">Home</a></li>
      <li th:classappend="${#request.requestURI.startsWith('/author') ? 'nav-active' : ''}"><a href="/author"
          th:href="@{/author}">Authors</a></li>
      <li th:classappend="${#request.requestURI.startsWith('/tag') ? 'nav-active' : ''}"><a href="/tag"
          th:href="@{/tag}">Tags</a>
      </li>
    </ul>
  </nav>
</body>

</html>