<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
  ~{::title},
  ~{:: #static-resources},
  ~{:: #header},
  ~{:: #main-content},  
  ~{:: #footer}
  )}">

<head>
  <title>Quote Detail</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link id="static-resources" rel="stylesheet" type="text/css" th:href="@{/quote.css}" />
</head>

<body>
  <div id="header" th:replace="fragments/header :: header" />
  <div id="main-content" class="root_quote">
    <section class="root_quote-quote">
      <p>[[${quote.content}]]</p>
      <p><a th:href="@{/author/{id}(id=${quote.author.id})}">[[${quote.author.name}]]</a></p>
    </section>
    <section sec:authorize="isAuthenticated()" class="root_quote-add-comment">
      <h2>Add Comment</h2>
      <form th:action="@{/quote/comment/{id}(id=${quote.id})}" method="post">
        <textarea name="content" rows="5"></textarea>
        <button type="submit">Add</button>
      </form>
    </section>
    <section sec:authorize="!isAuthenticated()" class="root_quote-login-to-comment">
      <a th:href="@{/login}">Login to comment!</a>
    </section>
    <section class="root_quote-comment">
      <h2>Comments</h2>
      <div th:if="${commentsPage.empty}">No comments yet. Be the first one!</div>
      <div th:each="comment : ${commentsPage}">
        <div class="comment">
          <p><a th:href="@{/user/{id}(id=${comment.userDetails.id})}">[[${comment.userDetails.name}]]</a></p>
          <p>[[${comment.content}]]</p>
        </div>

      </div>
      <div class="pagination" th:if="${commentsPage.totalPages > 1}">
        <a th:href="@{/quote/{quoteId}?page={page}(quoteId=${quote.id}, page=${commentsPage.number - 1})}"
          th:class="${commentsPage.number == 0} ? a-disabled">&laquo; previous</a>
        <div th:each="pageNumber : ${pageNumbers}">
          <a th:href="@{/quote/{quoteId}?page={page}(quoteId=${quote.id}, page=${pageNumber - 1})}"
            th:text="${pageNumber}" th:class="${pageNumber==commentsPage.number + 1} ? active"></a>
        </div>
        <a th:href="@{/quote/{quoteId}?page={page}(quoteId=${quote.id}, page=${commentsPage.number + 1})}"
          th:class="${commentsPage.number == commentsPage.totalPages - 1} ? a-disabled">next &raquo;</a>
      </div>

    </section>
  </div>
  <div id="footer" th:replace="fragments/footer :: footer" />
</body>