<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div class="quote-container" th:fragment="quote-grid(${quotes})">
    <div th:if="${quotes.empty}">No Quotes Available</div>
    <div th:each="quote : ${quotes}">
      <figure>
        <blockquote cite="https://www.huxley.net/bnw/four.html">
          <p>[[${quote.content}]]</p>
        </blockquote>
        <figcaption>—[[${quote.author.name}]]</figcaption>
      </figure>
    </div>
  </div>
</body>

</html>