<div th:fragment="quote-block(quote)">
  <figure>
    <blockquote>
      <section>
        <form action="#" th:action="@{/quote/upvote/{id}(id = ${quote.id})}" th:method="post">
          <input type="hidden" id="url" name="url" th:value="${#httpServletRequest.requestURI}">
          <button type="submit"><i>♡</i><span>
              [[${quote.upVotes}]]</span></button>
        </form>
      </section>
      <p>[[${quote.content}]]</p>
    </blockquote>
    <figcaption>—[[${quote.author.name}]]</figcaption>
  </figure>
</div>