<div th:fragment="quote-block(quote)">
  <figure>
    <blockquote>
      <section>
        <form action="#"
          th:action="@{/quote/upvote/{id}(id = ${quote.id}, page = ${param.page}, query = ${param.query})}"
          th:method="post">
          <input type="hidden" id="url" name="url" th:value="${#httpServletRequest.requestURI}">
          <button type="submit"><i>♡</i><span>
              [[${quote.upVotes}]]</span></button>
        </form>
      </section>
      <a th:href="@{/quote/{id}(id = ${quote.id})}">
        <p>[[${quote.content}]]</p>
      </a>
    </blockquote>
    <figcaption><a th:href="@{/author/{id}(id=${quote.author.id})}">—[[${quote.author.name}]]</a></figcaption>
  </figure>
</div>