<div th:fragment="author-form(author)">
  <form action="#" th:action="@{/admin/author/save}" th:object="${author}" method="post">
    <div>
      <input type="hidden" id="id" name="id" th:field="*{id}" />
    </div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" th:field="*{name}" />
      <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
      <label for="dob">Born</label>
      <input type="text" id="dob" name="dob" th:field="*{dob}" />
    </div>
    <div>
      <label for="dod">Died</label>
      <input type="text" id="dod" name="dod" th:field="*{dod}" />
    </div>
    <div>
      <label for="bio">biography</label>
      <textarea type="text" id="bio" name="bio" th:field="*{biography}" />
    </div>
    <div>
      <input type="submit" value="Add" />
    </div>
  </form>
</div>