<div th:fragment="author-table(authors)">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="author : ${authors}">
        <td><span th:text="${author.id}">Id</span></td>
        <td><span th:text="${author.name}">Name</span></td>
        <td><a th:href="@{/admin/author/edit/{id}(id = ${author.id})}">Edit</a></td>
        <td><a th:href="@{/admin/author/delete/{id}(id = ${author.id})}">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>