<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/main-layout :: main-fragment(  
  ~{::title},
  ~{:: #home-static-resources},
  ~{:: #home-header},
  ~{:: #home-main-content},  
  ~{:: #home-footer}
  )}">

<head>
  <title>Quotie</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link id="home-static-resources" rel="stylesheet" type="text/css" th:href="@{/home.css}"
    href="../../static/home.css" />
</head>

<body>
  <div id="home-header" th:replace="fragments/header :: header" />
  <div id="home-main-content">
    <section>
      <h2>Popular Quotes</h2>
      <div th:replace="quote/quote-grid :: quote-grid(${quotes})" />
    </section>
  </div>
  <div id="home-footer" th:replace="fragments/footer :: footer" />
</body>

</html>